{% extends 'base.html' %}
{% load static %}
{% block content %}
	
	<!-- Banner Section -->
    <section class="banner-section">
        <div class="banner-carousel owl-theme owl-carousel">
            
			<!-- Slide Item -->
            <div class="slide-item">
            	<div class="image-layer" style="background-image:url('{% static "images/main-slider/1.jpg" %}')"></div>

                <div class="auto-container">
                    <div class="content-box">
						<!-- <div class="author-image">
							<img src="{% static 'images/resource/author-2.jpg' %}" alt="" />
						</div> -->
						<div class="info-list clearfix">
							<div class="sales">Salad</div>
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star-half-o"></span>&ensp;
								8 Review
							</div>
							<!-- Author Name -->
							<div class="author-name">
								<div class="author-inner">
									<div class="author-icon">
										<img src="{% static 'images/resource/author-1.jpg' %}" alt="" />
									</div>
									by Mahfuz Riad
								</div>
							</div>
						</div>
						<h1>Roasted Pumpkin and <br> Beet Salad</h1>
						<div class="text">Lorem ipsum dolor sit amet, consectetuer <br> adipiscing elit, sed tinciduntut laore dolore </div>
                        <ul class="post-meta">
							<li><span class="icon flaticon-dish"></span>4 ingredients</li>
							<li><span class="icon flaticon-clock-3"></span>6 Min</li>
							<li><span class="icon flaticon-business-and-finance"></span>4 People</li>
						</ul>
                    </div>  
                </div>
            </div>

            <!-- Slide Item -->
            <div class="slide-item">
            	<div class="image-layer" style="background-image:url('{% static "images/main-slider/1.jpg" %}')"></div>

                <div class="auto-container">
                    <div class="content-box">
						<!-- <div class="author-image">
							<img src="{% static 'images/resource/author-2.jpg' %}" alt="" />
						</div> -->
						<div class="info-list clearfix">
							<div class="sales">Salad</div>
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star-half-o"></span>&ensp;
								8 Review
							</div>
							<!-- Author Name -->
							<div class="author-name">
								<div class="author-inner">
									<div class="author-icon">
										<img src="{% static 'images/resource/author-1.jpg' %}" alt="" />
									</div>
									by Mahfuz Riad
								</div>
							</div>
						</div>
						<h1>Roasted Pumpkin and <br> Beet Salad</h1>
						<div class="text">Lorem ipsum dolor sit amet, consectetuer <br> adipiscing elit, sed tinciduntut laore dolore </div>
                        <ul class="post-meta">
							<li><span class="icon flaticon-dish"></span>4 ingredients</li>
							<li><span class="icon flaticon-clock-3"></span>6 Min</li>
							<li><span class="icon flaticon-business-and-finance"></span>4 People</li>
						</ul>
                    </div>  
                </div>
            </div>
			
			<!-- Slide Item -->
            <div class="slide-item">
            	<div class="image-layer" style="background-image:url('{% static "images/main-slider/1.jpg" %}')"></div>

                <div class="auto-container">
                    <div class="content-box">
						<!-- <div class="author-image">
							<img src="{% static 'images/resource/author-2.jpg' %}" alt="" />
						</div> -->
						<div class="info-list clearfix">
							<div class="sales">Salad</div>
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star-half-o"></span>&ensp;
								8 Review
							</div>
							<!-- Author Name -->
							<div class="author-name">
								<div class="author-inner">
									<div class="author-icon">
										<img src="{% static 'images/resource/author-1.jpg' %}" alt="" />
									</div>
									by Mahfuz Riad
								</div>
							</div>
						</div>
						<h1>Roasted Pumpkin and <br> Beet Salad</h1>
						<div class="text">Lorem ipsum dolor sit amet, consectetuer <br> adipiscing elit, sed tinciduntut laore dolore </div>
                        <ul class="post-meta">
							<li><span class="icon flaticon-dish"></span>4 ingredients</li>
							<li><span class="icon flaticon-clock-3"></span>6 Min</li>
							<li><span class="icon flaticon-business-and-finance"></span>4 People</li>
						</ul>
                    </div>  
                </div>
            </div>
			
        </div>
    </section>
    <!--End Banner Section -->
	
	<!-- Product Form Section -->
	<section class="product-form-section">
		<div class="auto-container">
			<div class="inner-container margin-top">
				
				<!-- Default Form -->
				<div class="default-form">
					<form method="post" action="">
						{% csrf_token %}
						<div class="clearfix">
							
							<!-- Form Group -->
							
							
							<!-- Form Group -->
							<div class="form-group col-lg-7 col-md-6 col-sm-12">
								<input type="text" name="query" placeholder="Recipe Keyword" required>
							</div>
							
							<div class="form-group col-lg-2 col-md-12 col-sm-12">
								<button type="submit" class="theme-btn search-btn"><span class="fa fa-search"> Search</span></button>
							</div>
							
						</div>
					</form>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Keyword Section -->
	
	
	
	

	
	
	
	
	<!-- Entertaining Section -->
	<section class="entertaining-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<h2>Recipes</h2>
			</div>
			
			<div class="row clearfix">
				{% if message %}
				<h3 class="text">{{message}}</h3>
				{% endif %}
				{% for recipe in recipes_data %}
				
				<!-- Entertaining Block -->
				<div class="entertaining-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="{% url 'detail' recipe.id %}"><img src="{{recipe.image_path}}" alt="" /></a>
						</div>
						<div class="lower-content">
							
							<h4><a href="{% url 'detail' recipe.id %}">{{recipe.title}}</a></h4>
							<a href="{% url 'detail' recipe.id %}" class="theme-btn read-more">Read More</a>
						</div>
					</div>
				</div>
				{% endfor %}
				
			
				
			</div>
			
		</div>
	</section>
	<!-- End Entertaining Section -->
	
	
	
	
	


	{% endblock %}